{% extends 'base.html' %} {% load static %} {% block content %}
<section>
  <article class="form-container">
    <h1 style="padding-right: 28px">Make a reservation</h1>
    <form action="" method="post">
      {% csrf_token %} {% for field in form %}
      <div class="input-with-label">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        <span>{{ field }}</span>
        {% if field.errors %}
        <div class="error-message">{{ field.errors }}</div>
        {% endif %}
      </div>
      {% endfor %}
      <input type="submit" id="button" style="margin-left: 36px" />
    </form>
  </article>
</section>
{% endblock %}
